.todos-container{
    display:flex;
}
.todos-headers{
    flex:33%;
    margin:10px;
    color:white;
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
    padding:10px;
    cursor:pointer;
}
.todo-form-container{
    background-color: rgba(0, 0, 0, 0.8);
    margin:10px;
}
.remove-form-container{
    display:none;
}
.todos-list-container{
    background-color: rgba(0, 0, 0, 0.8);
    margin:10px;

}
.todos-list{
    border-bottom: 1px solid white;
    margin-bottom:10px;
}
.todo-data{
    color:white;
    padding:10px;
}
.search-container{
    margin-top:10px;
color:royalblue;

}
.error-todo{
    margin:10px;
    padding:10px;
    color:white;

}
.search{
    outline:none;
    border:none;
    padding:10px;
    margin:10px;
}
.btn{
    margin:10px;
    padding:10px;
    color:white;
    text-align: center;
    font-size: 14px;
    border:none;
    cursor: pointer;
}
.btn:disabled{
    background-color: grey;
}
.btn-done{
background-color: blue;

}
.btn-undone{
    background-color: red;
    }
.btn-edit{
    background-color: green;
}
.btn-delete{
    background-color: red;
}
.work-btn{
    float: right;
}